*.iml
.DS_Store
.gradle/
.kotlin/
.externalNativeBuild/
.cxx/

.idea/
!.idea/codeStyles/
!.idea/dictionaries/
!.idea/inspectionProfiles/

/build/
/captures/
/local.properties
/app/build/

*.apk
*.ap_
*.aab
*.jks
*.keystore

开发文档.md
需求设计文档.md
页面设计.md


local.properties
